body {
  font-family: "Titillium Web", sans-serif;
  background-image: linear-gradient(
    to right top,
    #a2a79e,
    #a39e8f,
    #a79386,
    #a98786,
    #a27e8e
  );
}
h1 {
  text-align: center;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  color: #2e1e0f;
  font-size: 40px;
}

img {
  display: block;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.weather-app-wrapper {
  max-width: 600px;
  display: block;
  margin: 0 auto;
  padding-bottom: 15px;
}
.weather-app {
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 3px 3px 3px darkslategrey;
  background-color: white;
  margin-top: 20px;
}
.top-header {
  text-align: center;
  margin-top: 15px;
}

.units-button {
  position: relative;
  left: 200px;
}

.icon-text {
  text-align: center;
}

.temp-container {
  text-align: center;
}

.temp {
  display: inline-block;

  margin: 0 auto;
  font-size: 64px;
}

.weather-stats {
  text-align: center;
}

.search-button {
  border-radius: 5px;
  background-color: #a27e8e;
  color: #eafafa;
  padding-left: 20px;
  padding-right: 20px;
  border: #a27e8e;
}

.search-button:hover {
  background-color: #a77464;
}

.form-control:focus {
  border-color: #a2a79e;
  box-shadow: 0 0 0 0.2rem rgba(162, 167, 158, 0.25);
}

.search-field {
  border-radius: 5px;
}

.units .active {
  color: black;
  cursor: default;
}

.units .active:hover {
  text-decoration: none;
}

/* Forecast */

.weather-forecast-icon {
  border-radius: 10px;
  background: #a2a79e;
  box-shadow: 3px 2px 2px #494b4e;
}

.future-forecast-container {
  border-top: 1px solid #e2e8ce;
  margin-top: 5px;
  background-color: white;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: hidden;
  padding: 10px;
}

.forecast-min {
  opacity: 75%;
}

.future-forecast {
  text-align: center;
}

.forecast-max {
  color: #a77464;
}
