body {
  font-family: monospace;
}
h1 {
  text-align: center;
  margin-top: 20px;
}

img {
  display: block;
  margin: 0 auto;
}

.weather-app-wrapper {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}
.weather-app {
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 3px 3px 3px darkslategrey;
}
.top-header {
  text-align: center;
  margin-top: 15px;
}

.units-button {
  position: relative;
  left: 200px;
}

.icon-text {
  text-align: center;
}

.temp {
  text-align: center;
  font-size: 64px;
}

.weather-stats {
  text-align: center;
}

.future-forecast {
  text-align: center;
}

.future-forecast-container {
  border-top: 1px solid #c1f0f0;
  margin-top: 5px;
  background-color: #eafafa;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: hidden;
}

.col:hover {
  background-color: #196767;
}

.fa-sun {
  font-size: 35px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.search-button {
  border-radius: 5px;
  background-color: #196767;
  color: #eafafa;
  box-shadow: 1px 1px 1px darkslategrey;
  padding-left: 10px;
  padding-right: 10px;
}

.search-field {
  border-radius: 5px;
  box-shadow: 1px 1px 1px darkslategrey;
}

a {
  text-decoration: none;
}
.units .active {
  color: black;
  cursor: default;
}

.units .active:hover {
  text-decoration: none;
}
